<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>@ViewBag.Title - Cerberus.NET</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="~/img/LOGO.png" alt="Logo">
            Cerberus.NET
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Login")">Join</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Download")">Downloads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Documentation")">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "About")">About</a>
                </li>
            </ul>
            <div class="navbar-nav ml-auto d-flex align-items-center">
                <img src="https://via.placeholder.com/40" alt="Perfil do Usuário" class="rounded-circle profile-img">
                <span class="ml-2 text-light">USER</span>
            </div>
        </div>
    </nav>

    <!-- Conteúdo específico da página -->
    <div class="container">
        @RenderBody()
    </div>

    <footer class="bg-dark text-light text-center p-4 mt-5">
        <p>Follow us:</p>
        <a href="#" class="text-light">Facebook</a> |
        <a href="#" class="text-light">Twitter</a> |
        <a href="#" class="text-light">Instagram</a>
        <p>Contatos: contato@cerberus.net</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>
